*{
    font-family: 'Questrial', sans-serif;
    margin:0;
    padding: 0;
}

html{
    font-size: 62.5%; /*10px*/
}

body{
    font-size: 2rem;
}

a{
    color:white;
    text-decoration: none;
    font-weight: 400;
    padding: 1rem;
    margin: 1.5rem;
}

a:hover{
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: rgb(90, 83, 83);
    text-align: center;
}

.navegacion{
    display:flex;
    width: 100%;
    height: 7.5rem;
    background-color: rgb(124, 216, 185);
}


.myForm{
    width: 80rem;
    height: 38rem;
    margin-top: 4rem;
    margin-left: 30rem;
    margin-right: 6rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    align-items: center;
    background-color: rgb(255, 246, 231);
    box-shadow: 0 15px 16px black;
}

input{
    font-size: 2.2rem;
    width: 70rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color:rgb(124, 216, 185);
}

select{
    font-size: 2.2rem;
    width: 70rem;
    height: 3.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

button{
    font-size: 2.3rem;
    width: 25rem;
    border-radius: 1rem;
    border: rgb(124, 216, 185);
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: rgb(124, 216, 185);
    color:white;
    box-shadow: 0 5px 5px black;
}

.titulo_catalogo{
    text-align: center;
    font-size: 3rem;
    margin: 2.5rem;
    font-weight: 500;
    color:rgb(90, 83, 83);
}

.articulos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 246, 231);
    border-radius: 1.5rem;
    max-width: 960px;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-left: 20rem;
    gap: 1rem;
    box-shadow: 0 15px 16px black;
    color:rgb(90, 83, 83);
}

.articulo{
    box-shadow: 0 10px 11px black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem; 
    color:rgb(90, 83, 83);
}

.carrito{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    gap: 2.5rem;
    width: 50%;
    height: 40%;
    padding: 1.5rem;
    margin: 2rem;
    margin-left: 33rem;
    color:rgb(90, 83, 83);
}

.articulo button{
    font-size: 1.5rem;
    width: 7rem;
    height: 3.5rem;
} 

.carrito button{
    display: flex;
    font-size: 1.5rem;
    width: 7rem;
    height: 3.5rem;
    padding: 1.1rem;
    
}

.titulo{
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;

}

.detalles-pagar{
    font-size: 1.4rem;
    width: 20%;
    color:rgb(90, 83, 83);
    margin-left: 55rem;
    font-weight: 600;
    padding: 1.5rem;
}

.detalles-pagar div{
    margin: 1rem;
    color: rgb(90, 83, 83);
}

.detalles-pagar button{
    font-size: 1.4rem;
    width: 16rem;
    height: 3rem;
}


strong{
    color: rgb(255, 0, 170);
    font-size: 1.8rem;
}

.detalles-pago{
    font-size: 3rem;
    width: 50%;
    margin: 3rem;
    margin-left: 35rem;
}

.detalles-pago div{
    text-align: center;
    margin: 5rem;
    color:rgb(90, 83, 83);
}

.detalles-pago button{
    margin: 1.5rem;
    width: 10rem;
    margin-left: 30rem;
    font-size: 2rem;
    
}

.titulo1{
    font-size: 2rem;
    text-align: center;
    color: rgb(90, 83, 83);
    width: 100%;
    height: 88.5vh;
    background: rgb(252,229,239);
    background: linear-gradient(60deg, rgba(252,229,239,1) 0%, rgba(224,238,255,1) 50%, rgb(243, 225, 240) 100%);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.titulo1 h1{
    padding-top: 1.5rem;
}


.contenedor-images{
    width: 40%;
    margin-left: 50rem;
    align-items: center;

}

.slider-container{
    display:Flex;
    width: 60%;
    height: 70vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top: 30px;
}

.slider-container img{
    flex: 0 0 100%;
    width: 60%;
    object-fit:cover;
    scroll-snap-align: center;
    border-radius: 1rem;
}

.contenedor1{
    background: rgb(252,229,239);
    background: linear-gradient(60deg, rgba(252,229,239,1) 0%, rgba(224,238,255,1) 50%, rgb(243, 225, 240) 100%);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.contenedor1 h1{
    font-size: 5rem;
    padding: 2rem;
    text-align: center;
    color:rgb(90, 83, 83);
}

.contenedor1 p{
    margin-left: 10rem;
}

.contenedor2 {
    border-radius: 1rem;
    box-shadow: 0 15px 16px black;
    background-color: rgb(243, 232, 233);
    width: 50%;
    height: 22rem;
    margin: 3rem;
    text-align: justify;
    padding: 2rem;
}

.contenedor2 h2{
    padding: 1rem;
    gap: 1rem;
    color:rgb(90, 83, 83);
}

.contenedor3{
    
    border-radius: 1rem;
    box-shadow: 0 15px 16px black;
    background-color: rgb(243, 232, 233);
    width: 50%;
    height: 20rem;
    margin: 3rem;
    text-align: justify;
    margin-left: 60rem;
    padding: 1rem;
}

.contenedor3 h2{
    padding: 1rem;
    gap: 1rem;
    text-align: end;
    color: rgb(90, 83, 83);
}

.contenedor4{
    border-radius: 1rem;
    box-shadow: 0 15px 16px black;
    background-color: rgb(243, 232, 233);
    width: 60%;
    height: 15rem;
    margin: 6rem;
    text-align: justify;
    padding: 2rem;
    margin-left: 25rem;
}

.contenedor4 h2{
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    color: rgb(90, 83, 83);
}

.pagina-no-encontrada h1{
    font-size: 4rem;
    text-align: center;
    margin: 20rem;
    color: red;
}



